<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://f79f8c63-0ee0-4-231-b9ee.documents.azure.com:443/" />
    <add key="PrimaryKey" value="wUCRJdPZRM8GBS8EZnaIlyt97w85c75tgTRDJE3lrTXG3g6uPlQx60wvmkxQ4TTzB9e5OVMyVIVkACDbMLK8og==" />
  </appSettings>
</configuration>